<footer class="footer">
<div class="container">
<hr>
<div class="grid">
<div class="cell -12of12">
<hr>
</div>
<div class="cell -9of12">
<p>Crafted with <i class="fa fa-heart"></i> in Philadelphia.</p>
</div>
<div class="cell -3of12">
<p><a href="https://github.com/andrewhthomas">Github</a> <a href="https://twitter.com/randomswathe">Twitter</a> <a href="https://www.linkedin.com/in/andrewhthomas">LinkedIn</a></p>
</div>
</div>
</div>
</footer>
<script src="/app.js"></script>
{{ template "_internal/google_analytics_async.html" . }}
